#clock {
    width: 128px;
    text-align: center;
}
html {
    height:100%;
}

html, body {
    padding: 15px;
    min-height:100%;
    position:relative;
}


.oneFilm {
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
    
}


.contentFilm {
    border: 1px solid black;
}

ul.nav.nav-pills {
    text-align: right;
}


.carousel-inner > .item > a > img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 200px;
}

@media screen and (min-width: 768px) {
.carousel-inner > .item > a > img {
    max-height: 400px;
}   
}

@media screen and (min-width: 992px) {
    .carousel-inner > .item > a > img {
        max-height: 500px;
    }   
}



.ajaxFilm:hover {
    cursor: pointer;
}

#myMaps {
    width: 640px; 
    height: 480px;
}

body {
    background-image: url("../images/niebo2.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Sarala', sans-serif;
    color: black;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
}

#title {
    font-size: 85px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    background-image: url("/images/logoFilm.jpg");
    background-size: contain;
    text-decoration: none;
    color: #3c3c3c;
}

.pagination-elem {
    margin: 0 auto;
    text-align: center;
}


.clockAndUser {
    background-image: url("/images/logoFilm.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
}

.clockAndUser:hover {
    color: black;
}

.clockAndUser:hover {
    background-color: pink;
}

.colorBlack {
    color: black;
}

.colorWhite {
    color: white;
}

a:hover {
    text-decoration: none;
}

#title:hover {
    color: #3c3c3c;
}

.nav-pills {
    padding: 10px;
}

.panel, .errors, .panelInformation, .formToAddFilm {
    width: 400px; 
    margin: 10px auto; 
    padding: 15px 0 0;
    background: #fff;
    border: 1px solid silver;
    font-size: 16px;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px silver; 
    -moz-box-shadow: 0 0 2px silver; 
    box-shadow: 0 0 2px silver;
    opacity: 0.5;
}
form {
    margin: 0;
}

label, .errors, .panelInformation, .formToAddFilm {
    display: block;
    width: 290px;
    padding: 10px 20px;
    color: #696969;
    font-size: 16px;
    text-shadow: 0 0 1px silver;
}

#email, .password {
    display: block;
    width: 360px; 
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid silver;
    outline: 5px solid #ebebeb;
    font-size: 22px;
}
#email:focus, .password:focus {
    outline: 5px solid #e5f2f8;
}

#lower {
    width: 360px;
    padding: 5px 20px;
    margin-top: 20px;
}

.panel, input[type="submit"], .errors, .panelInformation, .formToAddFilm {
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}

.submit {
    background-color: darkgray;
    opacity: 0.8;
}

.modal-dialog {
    height: 100%;
    width: 435px;
}

.infoAboutFilm {
    
    margin: 0 auto; 
    background: #fff;
    border: 1px solid silver;
    font-size: 16px;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px silver; 
    -moz-box-shadow: 0 0 2px silver; 
    box-shadow: 0 0 2px silver;
    opacity: 0.7;
    display: block;
    padding: 10px 20px;
    color: #696969;
    text-shadow: 0 0 1px silver;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:10px;	
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 60px;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.pictureFilm col-md-4 .img-responsive {
    margin: auto auto;
}

.activeMenu {
    display: block;
    font-size: 16px;
    text-shadow: 0 0 1px silver;
    background: #fff;
    border: 0px solid silver;
    letter-spacing: -1px;
    opacity: 0.5;
    border-radius:5px 5px 5px 5px ;
}

.menuBlock {
    float: left; 
}

.menuBlock:after {
    display:block;
    float: left;
}

.menuBlock:after {
  content:'';
  display:block;
  clear:both;
}

.menuOnTop {
    width: 1200px;
    position: fixed;
    top: 0;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: none !important;
}

.nonCursor {
    cursor: context-menu;
}

.infoAboutLastAddFilm {
    
    margin: 0 auto;
    font-size: 25px;
    opacity: 0.7;
    text-align: center;
    padding: 20px 20px;
    color: #696969;
    text-shadow: 0 0 1px silver;
    margin-top: 30px;
    color: white;
}

.inputContent {
    width: 200px;
}

.icon-gplus {
    margin-left: 20px;
    margin-right: 20px;
}

.panelInformation > a > .icon-gplus:hover {
    color: #d95333;
    width: 50%;
}

.panelInformation > a > .icon-facebook-squared:hover {
    color: #4668b3;
    width: 50%;
}

.logoFilmweb {
    margin-left: 40px;
}

.logoIMDB {
    margin-left: 60px;
}

.logoYouTube {
    margin-left: 41px;
}

.to-top{
    text-align:center;
}
#scroll-to-top{
    display:none;
    position:fixed;
    bottom:15px;
    right:20px;
    opacity:0.8;
}
#scroll-to-top:hover{
    opacity:1;
}