
{% include 'header.html' %}
    
<div class="formToAddFilm">  
    <form action="index.php?action=addFilm" enctype="multipart/form-data" method="POST">
        <label for="film_title">Tytuł filmu</label><input type="text" name="film_title" id="film_title">
        <label for="film_content">Streszczenie</label><textarea type="text" name="film_content" id="film_content"  rows="4" cols="18"></textarea>
        <label for="film_year">Rok produkcji</label><input type="text" name="film_year" id="film_year">
        <label for="film_url">Link z YouTube</label><input type="text" name="film_url" id="film_url">
        <label for="film_type">Rodzaj filmu</label><input type="text" name="film_type" id="film_type">
        <label for="film_link_imdb">Link do IMDB</label><input type="text" name="film_link_imdb" id="film_link_imdb">
        <label for="film_link_filmweb">Link do Filmweb</label><input type="text" name="film_link_filmweb" id="film_link_filmweb">
        <label for="film_picture">Plakat filmu</label><input type="file" name="film_picture" id="film_picture">
        
        <div id="lower">
            <input type="submit" value="Dodaj film" class="submit">
        </div>
    </form>
</div>  
{% include 'footer.html' %}