
{% include 'header.html' %}

 
{% if error %}<div class="errors">{{ error }}</div>{% endif %}

<ul>
    {% for film in allFilms %}
    
    <div class='oneFilm row'>
        <div class='pictureFilm col-md-4 img-responsive'>
            <img src="{{film.film_picture|e}}" alt="{{ film.film_title|e }}" class='img-responsive'/>
            
        </div>
        <div class='contentFilm col-md-8 infoAboutFilm'>
            <div class='titleFilm'>
                <h1>{{ film.film_title|e }} <b>({{film.film_year|e}})</b></h1>
                
                
            </div>
            <h3>Rodzaj filmu:  <b>{{ film.film_type|e }}</b></h3>
            {{film.film_content}}
            <h4>Sprawdź także opis na:</h4>
          
            <ul>
                <li >
                    <a href="{{film.film_link_filmweb}}">Filmweb
                    <img src="images/filmweb.jpg" alt="Logo Filmweb" height="16" class="logoFilmweb">
                    </a> 
                </li>
                <li >
                    <a href="{{film.film_link_imdb}}">IMDB
                    <img src="images/IMDB.jpg" alt="Logo IMDB" height="16" class="logoIMDB">
                    </a>
                </li>
            </ul>
            
        
        <div id="film_{{film.film_id}}" class='ajaxFilm'>
            <b>Obejrzyj trailer</b>
            <img src="images/YouTube.jpg" alt='Logo YouTube' height="16" class="logoYouTube"/>
            
        </div>
        </div>
          <div class="filmToPlay"></div>
    </div>
    
{% endfor %}    
</ul>



<nav aria-label="Page navigation">
    <div class="pagination-elem">

           {% if pages > 1 %}

           <ul class="pagination pagination-sm">

               {% if currentPage != 1 %}

               <li>

                   <a href="index.php?action=film&page={{ currentPage -1}}">«</a>

               </li>

               {% endif %}

               {% for i in 1..pages %}

               <li {{ currentPage == i ? 'class="active"' }}>

                   <a href="index.php?action=film&page={{ i }}">{{ i }}</a>

               </li>
               {% endfor %}

               {% if currentPage != pages %}
               <li>
                   <a href="index.php?action=film&page={{ currentPage +1}}">»</a>
               </li>
               {% endif %}
           </ul>
           {% endif %}
       </div>
    </nav>

{% include 'footer.html' %}