<script src="js/main.js?seed={{random(10000000000)}}"></script>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <iframe width="400" height="300" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>

<a href="#" title="Do góry!" id="scroll-to-top"><img src="images/scrollUp.png" alt="strzałka do góry"/></a>


</div>
<div id="footer">
    <p class="copyright">Copyright &copy; 2017 Paweł Detmer
</div>
</body>
</html>
