<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>All About Films</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Acme|Gudea|Sarala" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link href="css/fontello.css" rel="stylesheet" type="text/css"/>

    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/clock.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/maps.js"></script>


</head>
<body onload="currentDate();">
<a href="index.php?action=main_page" class="colorBlack nonActiveLink">
    <div id="title">
        <p>All about Films</p>
    </div>
</a>
<div id="container">

    <div class="menu">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-pills">
                    <li role="presentation" {% if page==
                    "main_page" %}class="activeMenu"{% endif %}>
                    <a href="index.php?action=main_page" {% if page !="main_page" %}class="colorWhite" {% endif %}>Strona
                        główna</a>
                    </li>
                    <li role="presentation" {% if page==
                    "film" %}class="activeMenu"{% endif %}>
                    <a href="index.php?action=film&page1" {% if page !="film" %}class="colorWhite" {% endif %}>Filmy</a>

                    {% if user %}
                    <li role="presentation" {% if page==
                    "addFilm" %}class="activeMenu"{% endif %}>
                    <a href="index.php?action=addFilm" {% if page !="addFilm" %}class="colorWhite" {% endif %}>Dodaj
                        film</a></li>
                    {% endif %}
                    </li>


                    <form action="index.php?action=searchingFilm&page=1" enctype="multipart/form-data" method="POST">
                        <div class="input-group">
                                          <span class="input-group-btn" role="presentation">
                                              <input class="btn btn-default" type="submit" value="Wyszukaj">
                                          </span>
                            <input name="term" type="text" class="form-control" placeholder="Wpisz nazwę filmu">
                        </div>
                    </form>

                </ul>

            </div>
            <div class="col-md-1" style="text-align:right">
            </div>
            <div class="col-md-5" style="text-align:right">
                <ul class="nav nav-pills">
                    <li role="presentation" {% if page==
                    "kontakt" %}class="activeMenu"{% endif %}>
                    <a href="index.php?action=kontakt" {% if page !="kontakt" %}class="colorWhite" {% endif
                       %}>Kontakt</a>
                    </li>
                    <li role="presentation" class="clockAndUser"><a href="" class="nonCursor">
                        <div id="clock"></div>
                    </a></li>

                    {% if user %}

                    <li role="presentation" class="clockAndUser"><a href="" class="nonCursor">Witaj {{user}}</a></li>
                    <li role="presentation"><a href="index.php?action=logout" {% if page !="logout" %}class="colorWhite"
                                               {% endif %}>Wyloguj</a></li>

                    {% else %}
                    <li role="presentation" {% if page==
                    "login" %}class="activeMenu"{% endif %}>
                    <a href="index.php?action=login" {% if page !="login" %}class="colorWhite" {% endif
                       %}>Zaloguj</a></li>
                    <li role="presentation" {% if page==
                    "register" %}class="activeMenu"{% endif %}>
                    <a href="index.php?action=register" {% if page !="register" %}class="colorWhite" {% endif %}>Załóż
                        konto</a></li>
                    {% endif %}
                </ul>
                <div id="clock"></div>
            </div>
        </div>
    </div>