{% include 'header.html' %}

<div class="row">
    <div class="col-md-8">

        <div id="myMaps">

        </div>
    </div>
    <div class="col-md-4 panelInformation">
        <p>Paweł Detmer<br>
            ul. Przytulna 42/15<br>
            80-176 Gdańsk
        </p>
        <a href="https://plus.google.com/">
            <i class="demo-icon icon-gplus"></i>
        </a>
        <a href="https://www.facebook.com/">
            <i class="demo-icon icon-facebook-squared"></i>
        </a>

    </div>
    <div>

    </div>
</div>

{% include 'footer.html' %}