{% include 'header.html' %}

{% if errorEmail %}
<div class="errors">{{errorEmail}}</div>{% endif %}
{% if error %}
<div class="errors">{{error}}</div>{% endif %}

<div class="panel">
    <form action="index.php?action=login" enctype="multipart/form-data" method="POST">
        <label for="email">E-mail</label><input type="text" name="email" id="email">
        <label for="password">Hasło</label><input type="password" name="password"
                                                  class="password" value="">
        <div id="lower">

            <input type="submit" value="Zaloguj" class="submit">
        </div>
    </form>
</div>


{% include 'footer.html' %}
         
              