{% include 'header.html' %}

{% if error %}
<div class="errors">{{error}}</div>{% endif %}

<div class="panel">
    <form action="index.php?action=register" enctype="multipart/form-data" method="POST">
        <label for="email">Email</label><input type="text" name="email" id="email">
        <label for="password">Hasło</label><input type="password" name="password"
                                                  class="password" value="">
        <label for="secondPassword">Powtórz hasło</label><input type="password" name="secondPassword"
                                                                class="password" value="">
        <div id="lower">
            <input type="submit" value="Zarejestruj">
        </div>
    </form>

</div>
{% include 'footer.html' %}