{% include 'header.html' %}

<!--{{searchingFilm}}-->
{% if error %}
<div class="errors">{{ error }}</div>{% endif %}


{% if searchingFilm %}

{% for film in allFilms %}
<div class='oneFilm row'>
    <div class='pictureFilm col-md-4 img-responsive'>
        <img src="{{film.film_picture|e}}" alt="{{ film.film_title|e }}" class='img-responsive'/>

    </div>
    <div class='contentFilm col-md-8 infoAboutFilm'>
        <div class='titleFilm'>
            <h2>{{ film.film_title|e }} <b>({{film.film_year|e}})</b>
            </h2>
        </div>
        {{film.film_content}}
        <h4>Sprawdź także opis na:</h4>

        <ul>
            <li>
                <a href="{{film.film_link_filmweb}}">Filmweb
                    <img src="images/filmweb.jpg" alt="Logo IMDB" height="16" class="logoFilmweb">
                </a>
            </li>
            <li>
                <a href="{{film.film_link_imdb}}">IMDB
                    <img src="images/IMDB.jpg" alt="Logo IMDB" height="16" class="logoIMDB">
                </a>
            </li>
        </ul>


        <div id="film_{{film.film_id}}" class='ajaxFilm'>
            <b>Obejrzyj trailer</b>
            <img src="images/YouTube.jpg" alt='Logo YouTube' height="16" class="logoYouTube"/>

        </div>
    </div>
    <div class="filmToPlay"></div>
</div>
{% endfor %}


{% endif %}
{% include 'footer.html' %}